.App {
    text-align: center;
}

.heading {
    margin: 0;
    margin-top: 40px;
    font-size: 4rem;
    font-weight: 300;
    color: #ffe81f;
}

.subHeading {
    color: #fff;
    font-weight: 300;
}

.button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}
